@font-face {
  font-family: "devonshire";
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "croissant";
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format("woff");
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "kaushan";
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff") format("woff");
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "parisienne";
  src: url("../fonts/parisienne/parisienne-regular-webfont.woff") format("woff");
  src: url("../fonts/parisienne/parisienne-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "charissil";
  src: url("../fonts/charissil/Fonts/charissil-b-webfont.woff") format("woff");
  src: url("../fonts/charissil/Fonts/charissil-b-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "comics";
  src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format("woff");
  src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format("woff2");
}
body {
  margin: 0;
}

header, footer {
  font-family: Helvetica;
  background-color: #579c87;
  color: #fdcb46;
}

header h1 {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
  padding: 2% 0 2% 0;
  border-bottom: 0.5px solid #a1c181;
}
header h1 a {
  text-decoration: none;
  color: #fdcb46;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #dba002;
}

#menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2%;
  margin: auto;
  width: 40%;
}
#menus #menu1 {
  background-color: #fcdfdb;
}
#menus #menu1 img {
  top: 40%;
  width: 30px;
  height: 30px;
}
#menus #menu1 h2 {
  top: 45%;
  font-family: "devonshire";
  font-size: 125%;
  color: #3c1218;
}
#menus #menu1 h3 {
  top: 55%;
  font-family: "kalam";
  color: #3c1218;
}
#menus #menu2 {
  background-color: #fff5fe;
}
#menus #menu2 h2 {
  top: 40%;
  font-family: "croissant";
  font-size: 95%;
  color: #c77529;
  background: -o-linear-gradient(left, #c77529 0%, #6a56a5 100%);
  background: linear-gradient(to right, #c77529 0%, #6a56a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menus #menu2 h3 {
  top: 50%;
  font-family: "charissil";
  color: #c77412;
}
#menus #menu3 {
  background-color: #f9f9f9;
}
#menus #menu3 h2 {
  top: 35%;
  font-family: "parisienne";
  font-size: 120%;
  color: #0431df;
  background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menus #menu3 h3 {
  top: 50%;
  font-family: "comics";
  color: #0887fb;
}
#menus #menu4 {
  background-color: #fdfffd;
}
#menus #menu4 h2 {
  top: 35%;
  font-family: "kaushan";
  font-size: 130%;
  color: #3d9339;
  background: -o-linear-gradient(left, #3d9339 0%, #c0fd87 100%);
  background: linear-gradient(to right, #3d9339 0%, #c0fd87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menus #menu4 h3 {
  top: 50%;
  font-family: "comics";
  color: #92cd7c;
}

#menu1, #menu2, #menu3, #menu4 {
  width: 250px;
  height: 350px;
  position: relative;
  text-align: center;
  margin-bottom: 8%;
  -webkit-box-shadow: 0px 0px 8px 6px #e8e8e8;
  -moz-box-shadow: 0px 0px 8px 6px #e8e8e8;
  box-shadow: 0px 0px 8px 6px #e8e8e8;
}
#menu1 img, #menu1 h2, #menu1 h3, #menu2 img, #menu2 h2, #menu2 h3, #menu3 img, #menu3 h2, #menu3 h3, #menu4 img, #menu4 h2, #menu4 h3 {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}
#menu1 img, #menu2 img, #menu3 img, #menu4 img {
  position: relative;
  width: 30px;
  height: 30px;
}

.contenu {
  width: 250px;
  height: 350px;
  font-size: 115%;
}

.contenu:hover {
  -webkit-animation: scale-up-center 2000ms forwards;
  animation: scale-up-center 2000ms forwards;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
  }
}
#prochainement {
  text-align: center;
  margin-bottom: 7%;
}
#prochainement button {
  font-family: Helvetica;
  font-size: 130%;
  color: #fdcb46;
  background-color: #579c87;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0.5px solid #508e7c;
  padding: 0.5% 3% 0.5% 3%;
}
#prochainement button #span1 {
  -webkit-animation: apparition 1500ms infinite;
  animation: apparition 1500ms infinite;
}
#prochainement button #span2 {
  -webkit-animation: apparition 1600ms infinite;
  animation: apparition 1600ms infinite;
}
#prochainement button #span3 {
  -webkit-animation: apparition 1700ms infinite;
  animation: apparition 1700ms infinite;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  border-top: 0.5px solid #a1c181;
}
footer a .mentions_contact {
  text-decoration: none;
  text-align: center;
  color: #fdcb46;
  padding: 0 1% 0 1%;
  display: inline-block;
  animation: wiggle 1500ms infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 700px) {
  #menus {
    padding-top: 5%;
  }

  #prochainement {
    margin: 2% 0 15% 0;
  }
}
@media (max-width: 430px) {
  #prochainement {
    margin: 2% 0 18% 0;
  }

  #menu1, #menu2, #menu3, #menu4 {
    margin-bottom: 20%;
  }
}
@media (max-width: 315px) {
  #prochainement {
    margin: 2% 0 20% 0;
  }
}
@media (max-width: 255px) {
  #menu1, #menu2, #menu3, #menu4 {
    margin-bottom: 30%;
  }

  #prochainement {
    margin: 2% 0 30% 0;
  }

  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
