@font-face {
  font-family: "croissant";
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format("woff");
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "cultura";
  src: url("../fonts/cultura/cultura.woff") format("woff");
  src: url("../fonts/cultura/cultura.ttf") format("ttf");
  src: url("../fonts/cultura/cultura.eot") format("eot");
}
body {
  margin: 0;
}

header, footer {
  font-family: Helvetica;
  background-color: #579c87;
  color: #fdcb46;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 2% 0 2% 0;
  border-bottom: 0.5px solid #a1c181;
}
header h1 a {
  text-decoration: none;
  color: #fdcb46;
}

#titre {
  text-align: center;
  font-family: Helvetica;
  font-size: 155%;
}

#menu {
  width: 650px;
  height: 850px;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: #fff5fe;
  -webkit-box-shadow: 0px 0px 8px 6px #e8e8e8;
  -moz-box-shadow: 0px 0px 8px 6px #e8e8e8;
  box-shadow: 0px 0px 8px 6px #e8e8e8;
}

.soustitre, #nom_restaurant, .plats {
  display: flex;
}

.soustitre {
  align-items: center;
}

.trait {
  width: 150px;
}

#nom_restaurant {
  flex-direction: column;
  align-items: center;
  padding: 6% 0 2% 0;
  line-height: 0.2;
  font-weight: lighter;
}

h2 {
  font-family: "croissant";
  color: #c77529;
  background: -o-linear-gradient(left, #c77529 0%, #6a56a5 100%);
  background: linear-gradient(to right, #c77529 0%, #6a56a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 230%;
  font-weight: lighter;
  padding: 5% 0 3% 0;
}

#appetit, #plaisir, #gourmandise {
  font-family: "cultura";
  line-height: 0.3;
  margin: 0 5% 0 5%;
  padding: 3% 0 3% 0;
  width: 80%;
  margin: auto;
}
#appetit h3, #plaisir h3, #gourmandise h3 {
  font-family: "cultura";
  text-align: center;
  font-size: 112%;
  letter-spacing: 1.1px;
}

#appetit {
  color: #ce782d;
}

#plaisir {
  color: #a86698;
}

#gourmandise {
  color: #6b56a3;
}

.plats {
  flex-direction: row;
  font-family: "cultura";
  font-weight: lighter;
  font-size: 110%;
}

.prix {
  font-weight: bold;
}

footer, .plats, .soustitre {
  justify-content: space-between;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: #fdcb46;
  background-color: #579c87;
  border-top: 0.5px solid #a1c181;
}
footer .mentions_contact {
  padding: 0 2% 0 2%;
  display: inline-block;
  animation: wiggle 7000ms infinite;
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=menu2.css.map */
