@charset "UTF-8";
@font-face {
  font-family: "croissant";
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format("woff");
  src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "cultura";
  src: url("../fonts/cultura/cultura.woff") format("woff");
  src: url("../fonts/cultura/cultura.ttf") format("ttf");
  src: url("../fonts/cultura/cultura.eot") format("eot");
}
@font-face {
  font-family: "parisienne";
  src: url("../fonts/parisienne/parisienne-regular-webfont.woff") format("woff");
  src: url("../fonts/parisienne/parisienne-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "comics";
  src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format("woff");
  src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "kaushan";
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular.ttf") format("ttf");
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff") format("woff");
  src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "devonshire";
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}
body {
  margin: 0;
}

header, footer {
  font-family: Helvetica;
  background-color: #579c87;
  color: #fdcb46;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 2% 0 2% 0;
  border-bottom: 0.5px solid #a1c181;
}
header h1 a {
  text-decoration: none;
  color: #fdcb46;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #dba002;
}

.menu {
  width: 650px;
  height: 100%;
  margin: auto;
  margin-bottom: 8%;
  padding-bottom: 5%;
  -webkit-box-shadow: 0px 0px 8px 6px #e8e8e8;
  -moz-box-shadow: 0px 0px 8px 6px #e8e8e8;
  box-shadow: 0px 0px 8px 6px #e8e8e8;
}

.menu__titre {
  text-align: center;
  font-family: Helvetica;
  font-size: 155%;
}

.nom_restaurant {
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
  font-size: 250%;
  padding: 4% 0 4% 0;
  margin-block-end: 0;
  text-align: center;
}

.nom_restaurant, .soustitre, .assiette {
  display: flex;
  align-items: center;
}

.soustitre {
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.trait {
  width: 175px;
}

h3 {
  font-family: "comics";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 4px, transparent 5px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 300ms;
  text-align: center;
}
h3:hover {
  background-size: 100% 100%;
}

.assiette {
  font-size: 105%;
  flex-direction: row;
  line-height: 1;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: baseline;
}

.prix {
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  border-top: 0.5px solid #a1c181;
}
footer a .mentions_contact {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-decoration: none;
  text-align: center;
  color: #fdcb46;
  display: inline-block;
  animation: wiggle 1500ms infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Menu "La note enchantée" */
.menu-la-note-enchantee {
  color: #3d1319;
  background-color: #fcdfdb;
}

.nom_restaurant-la-note-enchantee {
  padding-top: 5%;
  text-align: center;
}

.nom_restaurant-titre-la-note-enchantee {
  font-family: "devonshire";
  margin-top: -20px;
}

.assiette__la-note-enchantee {
  font-family: "comics";
  width: 75%;
}

img {
  width: 50px;
  height: 50px;
}

#signature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
#signature p {
  font-family: "devonshire";
  font-size: 150%;
  padding-left: 2%;
}

/* Menu "Le chic à la française" */
.menu-le-chic-a-la-francaise {
  background-color: #fff5fe;
}

.nom_restaurant-titre-le-chic-a-la-francaise {
  font-family: "croissant";
  font-size: 200%;
  color: #c77529;
  background: -o-linear-gradient(left, #c77529 0%, #8f5bfe 100%);
  background: linear-gradient(to right, #c77529 0%, #8f5bfe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soustitre-le-chic-a-la-francaise {
  width: 90%;
}

.entrees-le-chic-a-la-francaise, .plats-le-chic-a-la-francaise, .desserts-le-chic-a-la-francaise {
  padding-bottom: 5%;
}

.entrees-le-chic-a-la-francaise {
  color: #ce782d;
}

.plats-le-chic-a-la-francaise {
  color: #a86698;
}

.desserts-le-chic-a-la-francaise {
  color: #6b56a3;
}

.assiette-le-chic-a-la-francaise {
  font-family: "cultura";
  width: 75%;
}

/* Menu "Le délice des papilles" */
.menu-le-delice-des-papilles {
  background-color: #fdfefd;
}

.h3-le-chic-a-la-francaise {
  font-family: "cultura";
}

.nom_restaurant-titre-le-delice-des-papilles {
  font-family: "parisienne";
  color: #0431df;
  background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soustitre-le-delice-des-papilles {
  width: 90%;
}

.assiette-le-delice-des-papilles {
  width: 75%;
  font-family: "comics";
}

/* Menu "La palette du goût" */
.menu-la-palette-du-gout {
  background-color: #fdfffd;
}

.nom_restaurant-titre-la-palette-du-gout {
  font-family: "kaushan";
  color: #3d9339;
  background: -o-linear-gradient(left, #3d9339 0%, #c0fd87 100%);
  background: linear-gradient(to right, #3d9339 0%, #c0fd87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soustitre-la-palette-du-gout {
  width: 90%;
}

.assiette-la-palette-du-gout {
  width: 80%;
  font-family: "comics";
}

/*# sourceMappingURL=style.css.map */
