@font-face {
  font-family: "comics";
  src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format("woff");
  src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "devonshire";
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
  src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}
#menu {
  height: 900px;
  color: #3d1319;
  background-color: #fcdfdb;
}

#nom_restaurant {
  padding: 6% 0 2% 0;
  line-height: 0.2;
  font-weight: lighter;
}

h2 {
  font-family: "devonshire";
  font-size: 230%;
}

h3 {
  font-family: "comics";
  text-align: center;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 4px, transparent 5px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 300ms;
}
h3:hover {
  background-size: 100% 100%;
}

#entrees, #plats, #desserts {
  margin: 0 5% 0 5%;
  padding: 2% 0 2% 0;
}

.trait {
  width: 200px;
}

.assiette {
  flex-direction: row;
  width: 95%;
  margin: auto;
  font-family: "comics";
}

#signature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
#signature p {
  font-family: "devonshire";
  font-size: 150%;
  padding-left: 2%;
}

img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1250px) {
  #menu {
    margin-bottom: 7%;
  }
}
@media (max-width: 950px) {
  #menu {
    margin-bottom: 10%;
  }
}
@media (max-width: 750px) {
  #menu {
    margin-bottom: 12%;
    width: 550px;
    height: 950px;
  }
}
@media (max-width: 570px) {
  #menu {
    margin-bottom: 12%;
    width: 475px;
    height: 825px;
  }

  #nom_restaurant {
    padding-top: 6%;
  }

  .trait {
    width: 150px;
  }

  .assiette {
    width: 95%;
    font-size: 85%;
  }

  h2 {
    font-size: 180%;
  }
}
@media (max-width: 520px) {
  #menu {
    width: 400px;
    height: 750px;
    margin-bottom: 15%;
  }

  #nom_restaurant {
    padding-top: 6%;
  }

  .trait {
    width: 100px;
  }

  .assiette {
    width: 100%;
    font-size: 75%;
  }

  h2 {
    font-size: 160%;
  }
}
@media (max-width: 450px) {
  #menu {
    width: 350px;
    height: 800px;
  }

  #nom_restaurant {
    padding-top: 6%;
  }

  .trait {
    width: 100px;
  }

  .assiette {
    line-height: 1;
    align-items: baseline;
  }

  h2 {
    font-size: 160%;
  }

  #entrees, #plats, #desserts {
    padding: 0;
  }

  h3 {
    font-size: 100%;
  }
}
@media (max-width: 380px) {
  #menu {
    width: 300px;
    height: 950px;
    margin-bottom: 20%;
  }

  .assiette {
    font-size: 85%;
  }

  .prix {
    padding-left: 2%;
  }

  #entrees, #plats, #desserts {
    padding: 0;
  }
}
@media (max-width: 320px) {
  #menu {
    width: 250px;
    height: 875px;
  }

  h2 {
    font-size: 140%;
  }

  .trait {
    width: 55px;
  }

  .assiette {
    font-size: 87%;
  }

  .prix {
    padding-left: 2%;
  }

  #entrees, #plats, #desserts {
    padding: 0;
  }

  img {
    width: 35px;
    height: 35px;
  }
}

/*# sourceMappingURL=menu1.css.map */
