@font-face {
    font-family: 'devonshire';
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
  }

@font-face {
    font-family: 'croissant';
    src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format("woff");
    src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'kaushan';
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff") format("woff");
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'parisienne';
    src: url("../fonts/parisienne/parisienne-regular-webfont.woff") format("woff");
    src: url("../fonts/parisienne/parisienne-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'charissil';
    src: url("../fonts/charissil/Fonts/charissil-b-webfont.woff") format("woff");
    src: url("../fonts/charissil/Fonts/charissil-b-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'comics';
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format('woff');
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format('woff2');
}

@font-face {
    font-family: 'segoe';
    src: url("../fonts/segoe/segoe.woff") format('woff');
    src: url("../fonts/segoe/segoe.woff2") format('woff2');
}

$couleur-primaire: #579c87;
$couleur-secondaire: #fdcb46;
$couleur-bordure-header-footer: #a1c181;

body { 
    margin: 0;
    height: 100%;
}

header, footer {
    font-family: Helvetica;
    background-color: $couleur-primaire;
    color: $couleur-secondaire;
}

header {
    h1 {
        font-family: Helvetica;
        text-align: center;
        margin: 0;
        padding: 2% 0 2% 0;
        border-bottom: 0.5px solid $couleur-bordure-header-footer; 
        a {
            text-decoration: none;
            color: $couleur-secondaire;
            -webkit-text-stroke: 0.5px;
            -webkit-text-stroke-color: darken($couleur-secondaire, 20%);
        }
    }
}

.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5%;
    margin: auto;
    .menus__menu-la-note-enchantee, .menus__menu-le-chic-a-la-francaise, .menus__menu-le-delice-des-papilles, .menus__menu-la-palette-du-gout  {
        width: 300px;
        height: 400px;
        position: relative;
        text-align: center;
        margin-bottom: 8%;
        -webkit-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
        -moz-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
        box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
        a {
            text-decoration: none;
            .menus_menu-contenu {
                width: 300px;
                height: 400px;
                font-size: 115%;
                &:hover {
                    -webkit-animation: scale-up-center 2000ms forwards;
                    animation: scale-up-center 2000ms forwards;
                }
                h2, h3 {
                    position: absolute;
                    transform: translateY(-50%);
                    width: 100%;
                }
                img {
                    position: relative;
                }
            }
        }
    }
    .menus__menu-la-note-enchantee {
        background-color: darken(#fcdfdb, 1%);
        img {
            top: 32%;
            width: 35px;
            height: 35px;
        }
        h2 {
            top: 42%;
            font-family: 'devonshire';
            font-size: 135%;
            color: #3c1218;
        }
        h3 {
            top: 52%;
            font-family: 'segoe';
            color: #3c1218;
        }    
    }
    .menus__menu-le-chic-a-la-francaise {
        background-color: darken(#fff5fe, 1%);
        h2 {
            top: 38%;
            font-family: 'croissant';
            font-size: 100%;
            color: #c77529;
            letter-spacing: -0.5px;
            background: -o-linear-gradient(right, #c77529 0%, #8f5bfe 100%);
            background: linear-gradient(to right, #c77529 0%, #8f5bfe 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            -ms-background-clip: text;
            -ms-text-fill-color: transparent;
        }
        h3 {
            top: 49%;
            font-size: 130%;
            font-family: 'charissil';
            color: #c77412;
        }
    }
    .menus__menu-le-delice-des-papilles {
        background-color: darken(#f9f9f9, 1%);
        h2 {
            top: 37%;
            font-family: 'parisienne';
            font-size: 125%;
            color: #0431df;
            background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
            background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h3 {
            top: 50%;
            font-size: 130%;
            font-family: 'comics';
            color: #0887fb;
        }
    }
    .menus__menu-la-palette-du-gout {
        background-color: darken(#fdfffd, 1%);
        h2 {
            top: 37%;
            font-family: 'kaushan';
            font-size: 110%;
            color: #3d9339;
            background: -o-linear-gradient(left, #3d9339 0%, #c0fd87 100%);
            background: linear-gradient(to right, #3d9339 0%, #c0fd87 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h3 {
            font-size: 130%;
            top: 50%;
            font-family: 'comics';
            color: #92cd7c;
        }
    }
}

@-webkit-keyframes scale-up-center {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
              opacity: 1;
    
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
              opacity: 0.5;
    }
  }

.prochainement {
    text-align: center;
    margin-bottom: 8%;
    button {
        font-family: Helvetica;
        font-size: 130%;
        color: $couleur-secondaire;
        background-color: $couleur-primaire;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border: 0.5px solid #508e7c;
        padding: 0.5% 3% 0.5% 3%;
        #span1 {
            -webkit-animation: apparition 1500ms infinite;
            animation: apparition 1500ms infinite;
        }
        
        #span2 {
            -webkit-animation: apparition 1600ms infinite;
            animation: apparition 1600ms infinite;
        }
        
        #span3 {
            -webkit-animation: apparition 1700ms infinite;
            animation: apparition 1700ms infinite;
        }
    }
}

@-webkit-keyframes apparition {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
  }

@keyframes apparition {
    0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid $couleur-bordure-header-footer;
    a {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        margin: 1%;
        text-decoration: none;
        text-align: center;
        color: $couleur-secondaire;
        display: inline-block;
        animation: wiggle 1500ms infinite;
    }
}

@keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

@-webkit-keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

@media (min-width: 1100px) and (max-width: 1250px) {
    .menus {
        width: 60%;
    }
    .prochainement {
        margin-bottom: 10%;
    }
}

@media (max-width: 1109px) {
    .menus {
        width: 80%;
    }
    .prochainement {
        margin-bottom: 10%;
    }
}

@media (max-width: 750px) {
    .menus {
        width: 50%;
    }
    .prochainement {
        margin-bottom: 10%;
    }
    .menus__menu-la-note-enchantee, .menus__menu-le-chic-a-la-francaise, .menus__menu-le-delice-des-papilles, .menus__menu-la-palette-du-gout {
        margin: 7% 0 7% 0;
    }
}

