$couleur-primaire: #579c87;
$couleur-secondaire: #fdcb46;
$couleur-bordure-header-footer: #a1c181;

body { 
    margin: 0;
}

header, footer {
    font-family: Helvetica;
    background-color:$couleur-primaire;
    color: $couleur-secondaire;
}

header {
    h1 {
        text-align: center;
        margin: 0;
        padding: 2% 0 2% 0;
        border-bottom: 0.5px solid $couleur-bordure-header-footer; 
        a {
            text-decoration: none;
            color: $couleur-secondaire;
            -webkit-text-stroke: 0.5px;
            -webkit-text-stroke-color: darken($couleur-secondaire, 20%);
        }
    }
}

#mentions_légales {
    width: 650px;
    height: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 8%;
    font-family: Helvetica;
    line-height: 1.5;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
}

h2 {
    font-family: Helvetica;
    color: $couleur-primaire;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: darken($couleur-primaire, 20%);
}

h3 {
    color: $couleur-primaire;
    text-decoration: underline;
    text-align: left;
    background: none;
    background-size: none;
    transition: none;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: darken($couleur-primaire, 15%);
    &:hover {
        background-size: none;
    }
}

p {
    text-align: justify;
    span {
        color: $couleur-secondaire;
    }
}

#adress_center {
    text-align: center;
    span {
        font-weight: bold;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $couleur-primaire;
    border-top: 0.5px solid $couleur-bordure-header-footer;
    a .mentions_contact {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        text-decoration: none;
        text-align: center;
        color: $couleur-secondaire;
        display: inline-block;
        animation: wiggle 1500ms infinite;
    }
}

@media (min-width: 950px){
    #mentions_légales {
        margin-bottom: 8%;
    }
}

@media (max-width: 850px){
    #mentions_légales {
        margin-bottom: 11%;
    }
}

@media (max-width: 750px){
    #mentions_légales {
        width: 550px;
        margin-bottom: 14%;
    }
}

@media (max-width: 650px){
    #mentions_légales {
        width: 450px;
        margin-bottom: 17%;
    }
}

@media (max-width: 550px){
    #mentions_légales {
        width: 350px;
        margin-bottom: 20%;
    }
}

@media (max-width: 450px){
    #mentions_légales {
        margin-bottom: 23%;
    }
    h2 {
        font-size: 130%;
    }
    h3 {
        font-size: 100%;
    }
    p {
        font-size: 90%;
    }
}

@media (max-width: 380px){
    #mentions_légales {
        width: 200px;
        margin-bottom: 26%;
    }
    h2 {
        font-size: 110%;
    }
    h3 {
        font-size: 85%;
    }
    p {
        font-size: 80%;
    }
}
