 h2 { 
    font-family: 'parisienne';
    color: #0431df;
    background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu {
    background-color: #fdfefd;
}

.assiette {
    width: 75%;
    font-family: "comics";
}

.soustitre {
    width: 90%;
}

.trait {
    width: 200px;
}