@font-face {
    font-family: 'croissant';
    src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format('woff');
    src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format('woff2');
    }

@font-face {
    font-family: 'cultura';
    src: url("../fonts/cultura/cultura.woff") format('woff');
    src: url("../fonts/cultura/cultura.ttf") format('ttf');
    src: url("../fonts/cultura/cultura.eot") format('eot');
}

@font-face {
    font-family: 'parisienne';
    src: url("../fonts/parisienne/parisienne-regular-webfont.woff") format('woff');
    src: url("../fonts/parisienne/parisienne-regular-webfont.woff2") format('woff2');
    }

@font-face {
    font-family: 'comics';
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format('woff');
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format('woff2');
}

@font-face {
    font-family: 'kaushan';
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular.ttf") format("ttf");
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff") format("woff");
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'devonshire';
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}

$couleur-primaire: #579c87;
$couleur-secondaire: #fdcb46;
$couleur-bordure-header-footer: #a1c181;

body { 
    margin: 0;
}

header, footer {
    font-family: Helvetica;
    background-color:$couleur-primaire;
    color: $couleur-secondaire;
}

header {
    h1 {
        text-align: center;
        margin: 0;
        padding: 2% 0 2% 0;
        border-bottom: 0.5px solid $couleur-bordure-header-footer; 
        a {
            text-decoration: none;
            color: $couleur-secondaire;
            -webkit-text-stroke: 0.5px;
            -webkit-text-stroke-color: darken($couleur-secondaire, 20%);
        }
    }
}

.menu__titre {
    text-align: center;
    font-family: Helvetica;
    font-size: 155%;
}

.menu {
    width: 650px;
    height: 100%;
    margin: auto;
    margin-bottom: 8%;
    padding-bottom: 5%;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    .nom_restaurant, .soustitre, .assiette {
    display: flex;
    align-items: center;
    }
    .nom_restaurant {
        flex-direction: column;
        align-items: center;
        font-weight: lighter;
        h2 {
            font-weight: lighter;
            padding: 4% 0 4% 0;
            margin-block-end: 0;
            text-align: center;
        }
    }
    .soustitre {
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        h3 {
            background: linear-gradient(to top, rgba(black,0.5) 0%, rgba(black,0.5) 4px, transparent 5px) no-repeat;
            background-size: 0% 100%;
            transition: background-size 1000ms 700ms ease-out;
            text-align: center;
            &:hover {
                background-size: 100% 100%;
            }
        }
        .trait {
        width: 150px;
        }
    }
    .assiette {
        font-size: 105%;
        flex-direction: row;
        line-height: 1;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        align-items: baseline;
        .prix {
        font-weight: bold;
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $couleur-primaire;
    border-top: 0.5px solid $couleur-bordure-header-footer;
    a {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        text-decoration: none;
        text-align: center;
        color: $couleur-secondaire;
        display: inline-block;
        animation: wiggle 1500ms infinite;
    }
}

@keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

@-webkit-keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

/* Menu "La note enchantée" */

.menu-la-note-enchantee {
    color: #3d1319;
    background-color: #fcdfdb;
}

.nom_restaurant-la-note-enchantee {
    padding-top: 5%;
    text-align: center;
}

.nom_restaurant-titre-la-note-enchantee {
    font-family: 'devonshire';
    margin-top: 5px;
    font-size: 250%;
    margin-block-end: 0;
}

.h3-la-note-enchantee {
    font-family: 'comics';
}

.assiette__la-note-enchantee {
    font-family: "comics";
}

img {
    width: 50px;
    height: 50px;
}

#signature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    p {
        font-family: 'devonshire';
        font-size: 150%;
        padding-left: 2%;
    }
}

/* Menu "Le chic à la française" */

.menu-le-chic-a-la-francaise {
    background-color: #fff5fe;
}

.nom_restaurant-titre-le-chic-a-la-francaise {
    font-family: 'croissant';
    font-size: 200%;
    color: #c77529;
    background: -o-linear-gradient(left, #c77529 0%, #8f5bfe 100%);
    background: linear-gradient(to right, #c77529 0%, #8f5bfe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.entrees-le-chic-a-la-francaise, .plats-le-chic-a-la-francaise, .desserts-le-chic-a-la-francaise {
    padding-bottom: 5%;
}

.h3-le-chic-a-la-francaise, .assiette-le-chic-a-la-francaise {
    font-family: 'cultura';
}

.entrees-le-chic-a-la-francaise {
    color: #ce782d;
}

.plats-le-chic-a-la-francaise {
    color: #a86698;
}

.desserts-le-chic-a-la-francaise {
    color: #6b56a3;
}

/* Menu "Le délice des papilles" */

.menu-le-delice-des-papilles {
    background-color: #fdfefd;
}

.nom_restaurant-titre-le-delice-des-papilles {
    font-family: 'parisienne';
    font-size: 250%;
    color: #0431df;
    background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3-le-delice-des-papilles, .assiette-le-delice-des-papilles {
    font-family: 'comics';
}

/* Menu "La palette du goût" */

.menu-la-palette-du-gout {
    background-color: #fdfffd;
}

.nom_restaurant-titre-la-palette-du-gout {
    font-family: 'kaushan';
    font-size: 250%;
    color: #3d9339;
    background: -o-linear-gradient(left, #3d9339 0%, #c0fd87 100%);
    background: linear-gradient(to right, #3d9339 0%, #c0fd87 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3-la-palette-du-gout, .assiette-la-palette-du-gout {
    font-family: 'comics';
}

/* Partie responsive */

@media (min-width: 651px) and (max-width: 750px){
    .menu {
        width: 550px;
        margin-bottom: 12%;
    }
}

@media (min-width: 551px) and (max-width: 650px){
    .menu {
        width: 500px;
        margin-bottom: 13%;
    }
    .nom_restaurant-titre-la-note-enchantee, .nom_restaurant-titre-le-delice-des-papilles, .nom_restaurant-titre-la-palette-du-gout {
        font-size: 220%;
    }
    .nom_restaurant-titre-le-chic-a-la-francaise {
        font-style: 180%;
    }
}

@media (min-width: 521px) and (max-width: 550px){
    .menu {
        width: 450px;
        margin-bottom: 16%;
    }
    .nom_restaurant-titre-la-note-enchantee, .nom_restaurant-titre-le-delice-des-papilles, .nom_restaurant-titre-la-palette-du-gout {
        font-size: 200%;
    }
    .nom_restaurant-titre-le-chic-a-la-francaise {
        font-style: 160%;
    }
    .prix {
        padding-left: 2%;
    }
    .menu .soustitre .trait {
        width: 100px;
    }
}

@media (min-width: 451px) and (max-width: 520px){
    .menu {
        width: 400px;
        margin-bottom: 18%;
    }
    .nom_restaurant-titre-la-note-enchantee, .nom_restaurant-titre-le-delice-des-papilles, .nom_restaurant-titre-la-palette-du-gout {
        font-size: 180%;
    }
    .nom_restaurant-titre-le-chic-a-la-francaise {
        font-style: 140%;
    }
    .prix {
        padding-left: 2%;
    }
    .menu .soustitre .trait {
        width: 100px;
    }
}

@media (min-width: 401px) and (max-width: 450px){
    .menu {
        width: 350px;
        margin-bottom: 20%;
    }
    .nom_restaurant-titre-la-note-enchantee, .nom_restaurant-titre-le-delice-des-papilles, .nom_restaurant-titre-la-palette-du-gout {
        font-size: 160%;
    }
    .nom_restaurant-titre-le-chic-a-la-francaise {
        font-style: 120%;
    }
    .prix {
        padding-left: 2%;
    }
    .menu .soustitre .trait {
        width: 100px;
    }
}

@media (max-width: 400px){
    .menu {
        width: 300px;
        margin-bottom: 23%;
    }
    .nom_restaurant-titre-la-note-enchantee, .nom_restaurant-titre-le-delice-des-papilles, .nom_restaurant-titre-la-palette-du-gout {
        font-size: 140%;
    }
    .nom_restaurant-titre-le-chic-a-la-francaise {
        font-style: 100%;
    }
    .prix {
        padding-left: 2%;
    }
    .menu .soustitre .trait {
        width: 75px;
    }
}
