 h2 { 
    font-family: 'croissant';
    font-size: 200%;
    color: #c77529;
    background: -o-linear-gradient(left, #c77529 0%, #8f5bfe 100%);
    background: linear-gradient(to right, #c77529 0%, #8f5bfe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu {
    background-color: #fff5fe;
}

h3, #entrees, #plats, #desserts, .assiette  {
    font-family: 'cultura';
}

#entrees, #plats, #desserts {
    padding-bottom: 5%;
}

.assiette {
    width: 75%;
}

.soustitre {
    width: 90%;
}

#entrees {
    color: #ce782d;
}

#plats {
    color: #a86698;
}

#desserts {
    color: #6b56a3;
}