h2 { 
    font-family: 'parisienne';
    font-size: 300%;
    color: #0431df;
    background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu {
    background-color: #fdfefd;
}

#nom_restaurant {
    padding-top: 3%;
}

#entrees, #plats, #desserts {
    font-family: 'comics';
    margin: auto;
    padding: 2% 0 2% 0;
    width: 72%;
}

h3 {
    font-family: 'comics';
}

$breakpoint: 750px;
@media (max-width: $breakpoint){
    h2 {
        font-size: 250%;
    }
    #entrees, #plats, #desserts {
        padding-bottom: 5%;
        line-height: 1;
        margin-top: -30px;
    }
}

$breakpoint: 450px;
@media (max-width: $breakpoint){
    h2 {
        font-size: 210%;
    }
}

$breakpoint: 320px;
@media (max-width: $breakpoint){
    h2 {
        font-size: 180%;
    }
}