@font-face {
    font-family: 'comics';
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format("woff");
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'devonshire';
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}

#menu {
    color: #3d1319;
    background-color: #fcdfdb;
}

#nom_restaurant {
    padding: 6% 0 2% 0;
    line-height: 0.2;
    font-weight: lighter;
}

h2 { 
    font-family: 'devonshire';
    font-size: 230%;
}

h3 {
    font-family: 'comics';
}

#entrees, #plats, #desserts {
    margin: 0 5% 0 5%;
    padding: 2% 0 2% 0;  
}

.trait {
    width: 200px;
}

.assiette {
    flex-direction: row;
    width: 95%;
    margin: auto;
    font-family: "comics";
}

#signature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    p {
        font-family: 'devonshire';
        font-size: 150%;
        padding-left: 2%;
    }
}

img {
    width: 50px;
    height: 50px;
}

$breakpoint: 1250px;
@media (max-width: $breakpoint){
    #menu {
        margin-bottom: 7%;
    }
}

$breakpoint: 950px;
@media (max-width: $breakpoint){
    #menu {
        margin-bottom: 10%;
    }
}

$breakpoint: 750px;
@media (max-width: $breakpoint){
    #menu {
        margin-bottom: 12%;
        width: 550px;
    }
}

$breakpoint: 570px;
@media (max-width: $breakpoint){
    #menu {
        margin-bottom: 12%;
        width: 475px;
    }
    #nom_restaurant {
        padding-top: 6%;
    }
    .trait {
        width: 150px;
    }
    .assiette {
        width: 95%;
        font-size: 85%;
    }
    h2 {
        font-size: 180%;
    }
}

$breakpoint: 520px;
@media (max-width: $breakpoint){
    #menu {
        width: 400px;
        margin-bottom: 15%;
    }
    #nom_restaurant {
        padding-top: 6%;
    }
    .trait {
        width: 100px;
    }
    .assiette {
        width: 100%;
        font-size: 75%;
    }
    h2 {
        font-size: 160%;
    }
}

$breakpoint: 450px;
@media (max-width: $breakpoint){
    #menu {
        width: 350px;
    }
    #nom_restaurant {
        padding-top: 6%;
    }
    .trait {
        width: 100px;
    }
    .assiette {
        line-height: 1;
        align-items: baseline;
    }
    h2 {
        font-size: 160%;
    }
    #entrees, #plats, #desserts {
        padding: 0;
    }
    h3 {
        font-size: 100%;
    }
}

$breakpoint: 380px;
@media (max-width: $breakpoint){
    #menu {
        width: 300px;
        margin-bottom: 20%;
    }
    .assiette {
        font-size: 85%;
    }
    .prix {
        padding-left: 2%;
    }
    #entrees, #plats, #desserts {
        padding: 0;
    }
}

$breakpoint: 320px;
@media (max-width: $breakpoint){
    #menu {
        width: 250px;
    }
    h2 {
        font-size: 140%;
    }
    .trait {
        width: 55px;
    }
    .assiette {
        font-size: 87%;
    }
    .prix {
        padding-left: 2%;
    }
    #entrees, #plats, #desserts {
        padding: 0;
    }
    img {
        width: 35px;
        height: 35px;
    }
}