h2 { 
    font-family: 'devonshire';
    margin-top: -20px;
}

#nom_restaurant {
    padding-top: 5%;
}

#menu {
    color: #3d1319;
    background-color: #fcdfdb;
}

.assiette {
    width: 75%;
    font-family: "comics";
}

#signature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    p {
        font-family: 'devonshire';
        font-size: 150%;
        padding-left: 2%;
    }
}