h2 { 
    font-family: 'parisienne';
    font-size: 300%;
    color: #0431df;
    background: -o-linear-gradient(left, #0431df 0%, #0887fb 100%);
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5% 0 3% 0;
}

#menu {
    background-color: #fdfefd;
}

#nom_restaurant {
    padding-top: 3%;
}

#prelude {
    font-family: 'comics';
    line-height: 0.3;
    margin: auto;
    padding: 2% 0 2% 0;
    width: 72%;
    h3 {
        font-family: 'comics';
        text-align: center;
    }
}
