@font-face {
    font-family: 'comics';
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format("woff");
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'devonshire';
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}

#menu {
    height: 900px;
    color: #3d1319;
    background-color: #fcdfdb;
}

#nom_restaurant {
    padding: 6% 0 2% 0;
    line-height: 0.2;
    font-weight: lighter;
}

h2 { 
    font-family: 'devonshire';
    font-size: 230%;
}

h3 {
    font-family: 'comics';
    text-align: center;
    background: linear-gradient(to top, rgba(255,0,0,0.5) 0%, rgba(255,0,0,0.5) 4px, transparent 5px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms;
    &:hover {
        background-size: 100% 100%;
    }
}

#entrees, #plats, #desserts {
    margin: 0 5% 0 5%;
    padding: 2% 0 2% 0;  
}

.trait {
    width: 200px;
}

.assiette {
    flex-direction: row;
    width: 95%;
    margin: auto;
    font-family: "comics";
}

#signature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    p {
        font-family: 'devonshire';
        font-size: 150%;
        padding-left: 2%;
    }
}

img {
    width: 50px;
    height: 50px;
}