@font-face {
    font-family: 'croissant';
    src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff") format('woff');
    src: url("../fonts/croissant/Fonts/croissantone-regular-webfont.woff2") format('woff2');
    }

@font-face {
    font-family: 'cultura';
    src: url("../fonts/cultura/cultura.woff") format('woff');
    src: url("../fonts/cultura/cultura.ttf") format('ttf');
    src: url("../fonts/cultura/cultura.eot") format('eot');
}

@font-face {
    font-family: 'parisienne';
    src: url("../fonts/parisienne/parisienne-regular-webfont.woff") format('woff');
    src: url("../fonts/parisienne/parisienne-regular-webfont.woff2") format('woff2');
    }

@font-face {
    font-family: 'comics';
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff") format('woff');
    src: url("../fonts/comics/Fonts/typo_comics_light_demo-webfont.woff2") format('woff2');
}

@font-face {
    font-family: 'kaushan';
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular.ttf") format("ttf");
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff") format("woff");
    src: url("../fonts/kaushan/Fonts/kaushanscript-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'devonshire';
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff") format("woff");
    src: url("../fonts/devonshire/Fonts/devonshire-regular-webfont.woff2") format("woff2");
}

$couleur-primaire: #579c87;
$couleur-secondaire: #fdcb46;
$couleur-bordure-header-footer: #a1c181;

body { 
    margin: 0;
}

header, footer {
    font-family: Helvetica;
    background-color:$couleur-primaire;
    color: $couleur-secondaire;
}

header {
    h1 {
        text-align: center;
        margin: 0;
        padding: 2% 0 2% 0;
        border-bottom: 0.5px solid $couleur-bordure-header-footer; 
        a {
            text-decoration: none;
            color: $couleur-secondaire;
            -webkit-text-stroke: 0.5px;
            -webkit-text-stroke-color: darken($couleur-secondaire, 20%);
        }
    }
}

#titre {
    text-align: center;
    font-family: Helvetica;
    font-size: 155%;
}

#menu {
    width: 650px;
    height: 100%;
    margin: auto;
    margin-bottom: 8%;
    padding-bottom: 5%;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
}

#nom_restaurant {
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
}

img {
    width: 50px;
    height: 50px;
}

h2 {
    font-weight: lighter;
    font-size: 250%;
    padding: 4% 0 4% 0;
    margin-block-end: 0;
}

#nom_restaurant, .soustitre, .assiette {
    display: flex;
    align-items: center;
}

.soustitre {
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.trait {
    width: 175px;
}

h3 {
    font-family: 'comics';
    background: linear-gradient(to top, rgba(black,0.5) 0%, rgba(black,0.5) 4px, transparent 5px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms;
    text-align: center;
    &:hover {
        background-size: 100% 100%;
    }
}

.assiette {
    font-size: 105%;
    font-family: 'comics';
    flex-direction: row;
    line-height: 1;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
}

.prix {
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $couleur-primaire;
    border-top: 0.5px solid $couleur-bordure-header-footer;
    a .mentions_contact {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        text-decoration: none;
        text-align: center;
        color: $couleur-secondaire;
        display: inline-block;
        animation: wiggle 1500ms infinite;
    }
}

@keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

@-webkit-keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

@media all and (max-width: 750px) {
    #titre {
        font-size: 145%;
    }
    #menu {
        width: 550px;
        margin-bottom: 15%;
    }
    h2 {
        font-size: 230%;
    }
}

@media all and (max-width: 650px) {
    #titre {
        font-size: 135%;
    }
    #menu {
        width: 450px;
    }
    h2 {
        font-size: 210%;
    }
    .prix {
        padding-left: 2%;
    }
    .trait {
        width: 130px;
    }
}

@media all and (max-width: 550px) {
    #titre {
        font-size: 130%;
    }
    #menu {
        width: 400px;
        margin-bottom: 17%;
    }
    h2 {
        font-size: 200%;
    }
    h3 {
        font-size: 110%;
    }
    .prix {
        padding-left: 2%;
    }
    .assiette {
        font-size: 95%;
        line-height: 1.4;
    }
}

@media all and (max-width: 450px) {
    #titre {
        font-size: 120%;
    }
    #menu {
        width: 300px;
    }
    h2 {
        font-size: 190%;
    }
    h3 {
        font-size: 110%;
    }
    .trait {
        width: 80px;
    }
}

@media all and (max-width: 350px) {
    #titre {
        font-size: 110%;
    }
    #menu {
        width: 250px;
        margin-bottom: 25%;
    }
    h2 {
        font-size: 180%;
    }
    h3 {
        font-size: 100%;
    }
    .trait {
        width: 50px;
    }
}




